<div ng-controller="AuthCtrl" class="content" >
	<form ng-show="state.isSignup" name="authForm" novalidate class="animate animate-in" style="max-width:320px;">
		<div class="card">
			<div class="item item-divider">
				{{state.headerText}}
			</div>
			<label  class="item item-input ">
			    <input ng-model="data.name" name="name" type="text" placeholder="Name">
			</label>
			<label  class="item item-input">
			    <input ng-model="data.username" name="username" type="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Email">
			</label>
			<label class="item item-input">
			    <input ng-model="data.password" name="password" type="password" placeholder="Password" required ng-minlength="1">
			</label>
			<div  class="item item-icon-left item-text-wrap {{state.errorColor ? state.errorColor : ''}}">
				<i class="icon ion-compose"></i>
	  			{{state.infoText}} {{blank}}
	  		</div>
	  	</div>

	  	<div class="padding">
	  		<button class="button button-block button-positive  " ng-click="submit()" >
				Create Account
			</button>
	  	</div>

	  	<div class="padding row">
	  		<div class="col col-50 col-offset-25">
		  		<button class="button button-block icon-right ion-arrow-right-b " ng-click="toggleState()">
					Or Login
				</button>
			</div>
	  	</div>
  </form>

  <form ng-show="!state.isSignup" name="authForm" novalidate class="animate animate-out" style="min-width:280px;">
		<div class="card">
			<div class="item item-divider">
				{{state.headerText}}
			</div>
			<label  class="item item-input">
			    <input ng-model="data.username" name="username" type="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Email">
			</label>
			<label class="item item-input">
			    <input ng-model="data.password" name="password" type="password" placeholder="Password" required ng-minlength="1">
			</label>
			<div  class="item item-icon-left item-text-wrap {{state.errorColor ? state.errorColor : ''}}">
				<i class="icon ion-compose"></i>
	  			{{state.infoText}} {{blank}}
	  		</div>
	  	</div>

	  	<div class="padding">
	  		<button class="button button-block  " ng-click="submit()" >
				Login
			</button>
	  	</div>

	  	<div class="padding row">
	  		<div class="col col-50 col-offset-25">
		  		<button class="button button-block button-positive  icon-left ion-arrow-left-b " ng-click="toggleState()">
					Or Create
				</button>
			</div>
	  	</div>
  </form>
  
</div>