<div ng-controller="FollowCtrl" >
	<div class="list">
		<div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios7-search placeholder-icon"></i>
		    <input type="search" ng-model="input.search" placeholder="Search" ng-change="setSearchFilter()">
		  </label>
		  <button class="button button-clear" ng-click="clearSearch()">
		    Cancel
		  </button>
		</div>
		<a  ng-repeat="user in users | filter:searchFilter" ng-click="follow(user)" class="item item-avatar item-button-right" href="#">
			<img src="{{user.get('photo').url()? user.get('photo').url() : '/images/person.png'}}" >
			<h2>{{user.get('name')}}</h2>
			<button class="button button-{{user.isFollowed? 'positive':'stable'}}"  ng-click="follow(user,$index)">
		      <i class="icon ion-person-add"></i>
		    </button>

		</a>
  </div>
</div>
