<div ng-controller="SettingsCtrl" >
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <div class="padding" style="margin-top:50px;">
  		<button class="button button-block button-positive animate animate-in" ng-click="save()">
			Save
		</button>
  	</div>
</div>
</div>
